-r requirements.airflow.txt
confluent-kafka==2.6.0
faker==33.0.0
isort==5.13.2
jupyterlab==4.3.1
jupyterlab-code-formatter==3.0.2
jupyterlab-execute-time==3.2.0
minio==7.2.12
pre-commit==4.0.1
pyspark==3.5.1
pytest==8.3.3
pytest-cov==6.0.0
ruff==0.8.0
trino==0.330.0
